
@font-face { font-family: roboto-regular; 
    src: url('./assets/fonts/Roboto-Regular.ttf'); } 

@keyframes rotate {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }

    50% {
        transform: rotate3d(1, 1, 0, 180deg);
    }

    100% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}

@keyframes translate-left {
    0% {
        transform: translate3d(0, 0, 0) rotateY(0deg);
    }

    100% {
        transform: translate3d(200px, -18px, 0) rotateY(90deg);
    }
}


@keyframes entrance-left {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes exit-left {
    0% {
        transform: translateX(0vw);
        opacity: 1;
    }

    100% {
        transform: translateX(-100vw);
        opacity: 0;
    }
}


body {
    margin: 0;
    width: 100%;
    font-family: roboto-regular ,'Open Sans',serif; 
}

.cubic__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #0C120C;
}

.cubic__title {
    margin-top: 32px;
    font-size: 24px;
    color: #C7D6D5;
}

.cubic__main {
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: rotateX(-22deg) rotateY(45deg);
    transform-style: preserve-3d;
}

.cubic {
    position: relative;
    top: 105px;
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
}

.cubic--auto-roting{
    transition: transform 1s;
}

.cubic__main--grabing:hover {
    cursor: pointer;
}

.cubic--spin {
    animation: rotate 2s linear infinite;
    top: 90px;
}

.cubic__face {
    position: absolute;
    width: 198px;
    height: 198px;
    display: grid;
    background: black;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    transform-style: preserve-3d;
}

.cubic__piece--blue {
    background: blue;
}

.cubic__piece--red {
    background: red;
}

.cubic__piece--white {
    background: white;
}

.cubic__piece--green {
    background: green;
}

.cubic__piece--yellow {
    background: yellow;
}

.cubic__piece--orange {
    background: orange;
}

.cubic__face--1 {
    transform: rotateY(0deg) translateZ(100px);
}

.cubic__face--2 {
    transform: rotateY(0deg) translateZ(-100px);
}

.cubic__face--3 {
    transform: rotateY(90deg) translateZ(100px);
}

.cubic__face--4 {
    transform: rotateY(-90deg) translateZ(100px);
}

.cubic__face--5 {
    transform: rotateX(90deg) translateZ(100px);
}

.cubic__face--6 {
    transform: rotateX(-90deg) translateZ(100px);
}

.action-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    border-radius: 5px;
    background: #4ea172;
}

.action-bar__buttons{
    margin-top: 20px;
}

.action-bar__animate-button,
.action-bar__grab-button{
    width: 160px;
    padding: 12px;
    color: white;
    border: none;
    margin: 0;
    border-radius: 4px;
    background: #1F1A38;
    transition: all 1s ease;
    font-family: 'roboto-regular';
    font-size: 16px;
}

.action-bar__animate-button:hover,
.action-bar__grab-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.action-bar__grab-button{
    margin-left: 12px;
}

.action-bar__rotation-icons i{
    font-size: 40px;
    color: white;
    transition: color .5s;
}
.action-bar__rotation-icons i:hover{
   cursor: pointer;
   color: black;
}

/* animation translate styles */
.cubic__piece--orange--rotate:nth-child(1){
    transform-style: preserve-3d;
    z-index: 1000;
    transform: translate3d(168px, 0px, -33px) rotateY(90deg);
    transition: transform 1s;
}
.cubic__piece--orange--rotate:nth-child(2){
    transform-style: preserve-3d;
    z-index: 1000;
    transform: translate3d(100px, 0px, -100px) rotateY(90deg);
    transition: transform 1s;

}
.cubic__piece--orange--rotate:nth-child(3){
    z-index: 1000;
    transform-style: preserve-3d;
    transform: translate3d(33px, 0px, -168px) rotateY(90deg);
    transition: transform 1s;

}

