@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.about {
  text-align: center;
  color: white;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  font-family: nunito-regular;
  background: linear-gradient(0deg, rgba(4, 129, 158, 1) 0%, rgba(20, 116, 147, 1) 23%, rgba(23, 116, 148, 1) 35%, rgba(16, 54, 26, 1) 79%);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.about__title {
  margin: 12px 0 24px 0;
  font-size: 32px;
  font-weight: bold;
}

.about__content {
  margin: auto;
  padding: 0 12px;
  padding-bottom: 24px;
}

.about__texts {
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-items: stretch;
  margin-top: 24px;
  width: 280px;
  margin: auto;
}

.about__text {
  max-width: 400px;
  text-align: center;
  padding: 40px 20px;
  margin: 8px;
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 11px 11px 3px -10px rgba(0, 0, 0, 0.77);
}

.about__footer {
  margin-top: 140px;
  text-align: left;
}

@media (min-width: 480px) {
  .about__texts {
    width: 400px;
  }
}

@media (min-width: 780px) {
  .about__texts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    margin-top: 24px;
    width: 700px;
    margin: auto;
  }

  .about__title {
    margin: 12px 0 40px 0;
  }

  .about__content {
    padding: 0 80px;
  }
  .about__text {
    text-align: left;
    margin: 12px;
  }
}
