.flows-buttons {
  display: none;
}

@media (min-width: 780px) {
  .flows-buttons {
    display: block;
    position: fixed;
    top: 28px;
    right: 5px;
  }

  .flows-buttons__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    margin: 0;
  }

  .flows-buttons__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px
  }

  .flows-buttons__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 12px;
    background: seagreen;
  }

  .flows-buttons__button {
    cursor: pointer;
    transition: 1s all color;
  }

  .flows-buttons__label {
    font-size: 16px;
    color: white;
    margin-top: 8px;
  }

  .flows-buttons__button:hover {
    color: white;
  }

  .flows-buttons__button--text {
    font-size: 14px;
    padding: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }


  .flows-buttons__button--text:hover {
    color: white;
  }

}