.footer {
  background: black;
  width: 100%;
  min-height: 100px;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.footer__social-icon {
  margin-left: 20px;
  padding: 20px 0;
}

.footer__social-icon i {
  font-size: 40px;
  color: white;
  cursor: pointer;
  transition: 1s color;
  margin-right: 14px;
}

.footer__social-icon i:hover {
  color:  var(--secondary-color);;
}