.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
}

.header__title {
  margin: 0;
  font-size: 24px;
  color: #C7D6D5;
}

.header__icon {
  /* width: 25px; */
  margin-right: 12px;
}


@media screen and (min-width: 768px) {
  .header {
    padding: 24px;
  }
  .header__title {
    font-size: 32px;
  }
}	