.section-cubic {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/background.png");
  background-size: 600px;
}

.section-cubic__selected-area {
  width: 100%;
 /*  border: 1px dashed white; */
  perspective: 2000px;
  backdrop-filter: blur(7px) brightness(30%) contrast(100%);
  background-color: rgb(41 38 47 / 20%);
  
}

.section-cubic__main {
  width: 100%;
  height: calc(90vh - 100px);
  transform: rotateX(-22deg) rotateY(60deg);
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;

}

.section-cubic__cubic {
  position: relative;
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
}

.section-cubic__cubic-plain{
  position: absolute;
  transform-style: preserve-3d;
  width: 290px;
  height: 290px;
}

